---
title: tDCS Research Database
---
<!DOCTYPE html>
<html lang="en">

{% include landing/landing-head.html %}

<body>



   {% include landing/landing-nav.html %}


    {% include landing/landing-splash.html %}

<div class="wrapper container" id="stars-bg">
   <canvas id="stars"></canvas>
   <div id="dunes"></div>
    <section id="list" class="pad-xl" style="background-image: assets/explorer.svg;>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
            <h2 id="landing--title" class="landing--section--title">Recently Added tDCS Research</h2>
            <a href="#add" class="scroll"><span class="btn btn-secondary" style="font-size:110%;">Add Research</span></a>
            <a href="{{ "/research.html" | prepend: site.baseurl }}"><span class="btn btn-secondary" style="font-size:110%;background-color:#fdf8b5;">Access All Research</span></a>
          </div>
        </div>




        <div class="wow fadeInUp" data-wow-delay="1s">
           <div class="wrapper container">
             <div class="row">
                <div class="company-container">

                   {% include list-showcase-selected.html %}
                   {% include list-showcase.html %}
               </div>


            </div>
            </div>
        </div>
      </div>
    </section>
</div>

<!-- Add your company -->
<!-- <hr class="line black"> -->

    <section id="add" class="pad-lg light-gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 text-center" style="color:#f14444;">
            <!-- <i class="fa fa-puzzle-piece fa-3x margin-40 fa-section-title"></i> -->
            <h2 class="black">Add New tDCS Research</h2>


            <div class="panel panel-default">
               <div class="alert alert-info alert-dismissable">
                  <p class="black">
                  Add new research here. Please make sure the research you are adding is not found in the databse.
                 </p>
               </div>
              <div class="panel-body">
               <p class="black">
                  DOI is used to distinguish the researh, it is quite important to provide the correct DOI.
               </p>
              </div>
            </div>


            <div class="row">

              {% include new-research.html %}

            </div><!--End Form row-->




          </div>
        </div>
      </div>
    </section>










    {% include footer.html %}



    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.0.min.js"><\/script>')</script>

    {% include mixitupscript.html %}



    <script src="assets/js/validator.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>

    <script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>

    <script src="assets/js/stars-bg.js"></script>



    </body>
</html>
